# Base de Datos
DATABASE_URL="postgresql://..."

# Resend (Email)
RESEND_API_KEY="re_..."
RESEND_WEBHOOK_SECRET="whsec_piCWAoFvsAIJaF4LE9Sb+dSZwX2fsmsY"

# Zoho CRM
ZOHO_WEBHOOK_TOKEN="tu_token_secreto_aqui"

# NextAuth (futuro)
NEXTAUTH_SECRET="genera_un_secret_seguro"
NEXTAUTH_URL="http://localhost:3001"
