# Base de Datos
DATABASE_URL="postgresql://..."

# Resend (Email)
RESEND_API_KEY="re_..."
RESEND_WEBHOOK_SECRET="whsec_piCWAoFvsAIJaF4LE9Sb+dSZwX2fsmsY"

# Zoho CRM
ZOHO_WEBHOOK_TOKEN="tu_token_secreto_aqui"

# Auth.js v5 (NextAuth v5)
AUTH_SECRET="genera_con_npx_auth_secret"
NEXTAUTH_URL="http://localhost:3000"
